lion-tabs,
rec-carousel {
  margin-top: 2rem;
}

lion-tabs rec-carousel {
  margin-top: 0;
}

aside {
  background-color: var(--cassis-70);
  color: var(--ash-10);

  margin-bottom: 1rem;
  padding: 16px;
}

/*
 * HERO (animation)
 */
@media (prefers-reduced-motion: no-preference) {
  .hero-image img {
    transition-property: clip-path;
    transition-timing-function: ease-out;
    transition-duration: 1000ms;
  }

  .hero-image .hover-capture {
    grid-row: 1;
  }

  .hero-image .hover-capture:nth-of-type(1) {
    grid-column: 1;
  }
  .hero-image .hover-capture:nth-of-type(2) {
    grid-column: 2;
  }
  .hero-image .hover-capture:nth-of-type(3) {
    grid-column: 3;
  }

  .hero-image .hover-capture:nth-of-type(1):hover ~ picture:nth-of-type(1) > img {
    clip-path: var(--full);
  }
  .hero-image .hover-capture:nth-of-type(1):hover ~ picture:nth-of-type(2) > img {
    clip-path: var(--right);
  }
  .hero-image .hover-capture:nth-of-type(1):hover ~ picture:nth-of-type(3) > img {
    clip-path: var(--right);
  }

  .hero-image .hover-capture:nth-of-type(2):hover ~ picture:nth-of-type(1) > img {
    clip-path: var(--left);
  }
  .hero-image .hover-capture:nth-of-type(2):hover ~ picture:nth-of-type(2) > img {
    clip-path: var(--full)
  }
  .hero-image .hover-capture:nth-of-type(2):hover ~ picture:nth-of-type(3) > img {
    clip-path: var(--right);
  }

  .hero-image .hover-capture:nth-of-type(3):hover ~ picture:nth-of-type(1) > img {
    clip-path: var(--left);
  }
  .hero-image .hover-capture:nth-of-type(3):hover ~ picture:nth-of-type(2) > img {
    clip-path: var(--left)
  }
  .hero-image .hover-capture:nth-of-type(3):hover ~ picture:nth-of-type(3) > img {
    clip-path: var(--full);
  }
}

/*
 * THEME
 */
.theme {
  margin-top: 4rem;
}
.theme > h3 {
  margin-bottom: 0.5rem;
}
.theme > p {
  margin-top: 1rem;
}
.theme > .install-button {
  max-width: max-content;
  margin-top: 2rem;
}

/*
 * LINK
 */
a {
  /* highlight unstyled link */
  color: red;
}

.body-link,
.surface-link {
  color: currentColor;
  outline-offset: 4px;
}
:is(.body-link, .surface-link):focus,
:is(.body-link, .surface-link):hover {
  color: var(--link-focus-color);
}
:is(.body-link, .surface-link):focus {
  outline: 2px solid var(--link-focus-color);
}
:is(.body-link, .surface-link):focus:not(:focus-visible) {
  outline: none;
}

/*
 * BLOCKQUOTE
 */

blockquote {
  quotes: "“" "”";

  padding-left: 2ch;
  text-indent: -2ch;
}

blockquote::before {
  font-family: serif;
  content: open-quote;
  font-size: 32px;
  line-height: 1;
}

/*
 * TABS
 */
lion-tabs {
  display: block;
}
lion-tabs > button {
  border: none;
  padding: 8px 24px;
  border-radius: 4px 4px 0 0;

  box-shadow: inset 0px -6px 6px -3px hsl(266deg 76% 4% / 0.34);
}
lion-tabs > button[aria-selected="true"] {
  box-shadow: none;
}
lion-tabs > button ~ button {
  margin-left: 1px;
}
lion-tabs rec-carousel {
  border-top-left-radius: 0;
}

/*
 * FILTER FORM
 */
.filter-form {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "form"
    "output"
  ;
  border-radius: 4px;
  overflow: hidden;
}
.filter-form form {
  grid-area: form;
  padding: 16px 16px 32px 16px;
}
.filter-form label {
  display: block;
}
.filter-form label > .label {
  font-weight: 700;
}
.filter-form label > .description {
  font-size: 0.75rem;
}
.filter-form .input {
  display: flex;
  align-items: center;
  gap: 8px;
}
.filter-form .eyedropper {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: currentColor;
  align-self: stretch;
  border-radius: 2px;
}
.filter-form .eyedropper:hover {
  background-color: var(--cassis-80);
  color: var(--gold-20);
}

/*
 * FILTER CALCULATOR
 */
rec-filtercalculator {
  padding: 16px 16px 32px 16px;
}

/*
 * FOOTER
 */
footer {
  padding-top: 32px;
}

/*
 * UTILITIES
 */

.shadow-low {
  box-shadow:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

.shadow-medium {
  box-shadow:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.34),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.34),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.34);
}

.shadow-high {
  box-shadow:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

.space-top-8 {
  margin-top: 0.5rem;
}
.space-top-16 {
  margin-top: 1rem;
}
.space-top-32 {
  margin-top: 2rem
}
.space-top-64 {
  margin-top: 4rem;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.icon {
  height: 1.5em;
  fill: currentColor;
}

/*
 * RESPONSIVE TWEAKS
 */
@media (min-width: 55rem) {
  aside {
    float: right;
    width: 30%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .theme {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
          "sample heading"
          "sample content"
          "button .";
    gap: 0 32px;
  }
  .theme > h3 {
    grid-area: heading;
  }
  .theme > picture {
    grid-area: sample;
  }
  .theme > p {
    grid-area: content;
  }
  .theme > .install-button {
    grid-area: button;
  }

  .filter-form {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "form output";
  }
}
@media (max-width: 32rem) {
  lion-tabs > button {
    padding: 8px 16px;
  }
  rec-carousel {
    --carousel-caption-height: 6em;
  }
}
@media (max-width: 16rem) {
  rec-carousel {
    --carousel-caption-height: 8em;
  }
}
@media (max-width: 12rem) {
  /* Galaxy fold, very large font */
  rec-carousel {
    --carousel-caption-height: 11em;
  }
  lion-tabs > button {
    font-size: 0.875rem;
    padding: 8px 8px;
  }
}