/*
 * DS-Checkbox
 */

.ds-checkbox, .ds-checkbox-indeterminate {
	--ds-color-field-checked-label: var(--text-color, var(--on-background)); /* label */
}

.ds-checkbox {
	--_ds-color-checkbox-bg: var(--background);
	--_ds-color-checkbox-border: var(--on-background);

	--ds-color-field-outline-inner: var(--on-background); /* Hovered shadow ring */
	--ds-color-field-border-focus: var(--on-background); /* Hovered border */

	&[checked] {
		--ds-color-field-checked-fg: var(--primary); /* background and border */
		--ds-color-field-checked-bg: var(--on-primary); /* checkmark */
	}
	&[focused-visible] {
		--ds-color-field-outline-outer: var(--on-background); /* Focused outer ring */
		--ds-color-field-outline-inner: transparent; /* Focused inner ring */
	}
}

.ds-checkbox-indeterminate {
	--_ds-color-checkbox-indeterminate-bg: var(--background);
	--_ds-color-checkbox-indeterminate-border: var(--on-background);

	&[hovered] {
		--_ds-color-checkbox-indeterminate-shadow: var(--on-background);
	}

	&[checked], &[indeterminate] {
		--ds-color-bg-primary-emphasis: var(--primary);
		--ds-color-fg-primary-subtle: var(--on-primary);
	}

	&[focused-visible] {
		--ds-color-field-outline-outer: var(--on-background);
		--_ds-color-checkbox-indeterminate-shadow: transparent;
	}
}

