/*
 * DS-Feedback-Link
 *
 * There are two versions:
 * - .ds-feedback-link is fixed on the right side and expands on hover.
 * - .ds-button[variant='insight'] is a button alternative for where the link does not work.
 */
.ds-feedback-link,
.ds-button[variant='insight'] {
	--ds-color-bg-insight-mid: var(--background); /* background */
	--ds-color-fg-insight-subtle: var(--on-background); /* foreground */
	--ds-color-border-insight-default: var(--on-background); /* border */

	--ds-color-border-insight-emphasis: var(--background); /* :hover border */

	--ds-color-border-insight-soft: transparent; /* :hover & : focus box-shadow (for link variant) */
	--ds-color-bg-insight-soft: transparent; /* :hover & :focus box-shadow (for button variant) */

	--ds-color-bg-insight-emphasis: var(--surface); /* :active background */
}
.ds-feedback-link:hover,
.ds-button[variant='insight']:hover {
	--ds-color-bg-insight-mid: var(--on-background); /* :hover background */
	--ds-color-fg-insight-subtle: var(--background); /* :hover foreground */
}
.ds-feedback-link:active,
.ds-button[variant='insight']:active {
	--ds-color-fg-insight-subtle: var(--on-surface); /* :active foreground */
	--ds-color-border-insight-emphasis: var(--on-background); /* :active border (overridden by :focus for link variant) */
}
.ds-feedback-link:focus-within,
.ds-button[variant='insight']:focus-visible {
	/* Would have prefered to deal with border and outline separately, but alas that is not possible */
	--ds-color-border-insight-emphasis: var(--outline-color, var(--on-background)); /* outline & border */
}
