/*
 * DS-Panel
 */
.ds-panel {
	--ds-color-bg-subtle: var(--background); /* header background */
	--ds-color-bg-default: var(--background); /* content background */
	border: 1px solid var(--on-background);

	color: var(--on-background);
}
