/*
 * DS-Panel
 */
.ds-panel {
	--ds-color-bg-subtle: var(--surface); /* header background */
	--ds-color-bg-default: var(--surface); /* content background */

	color: var(--on-surface);

	--text-color: var(--on-surface);
	--outline-color: var(--on-surface);

	/* header-content divider border color, has the same variable as the panel border color itself */
	border: none;
	--ds-color-border-muted: var(--on-surface);
}
