/*
 * DS-Radio
 */
.ds-radio {
	--ds-color-field-checked-label: var(--text-color, var(--on-background)); /* label */
	--ds-color-field-border: var(--on-background); /* border */
	--ds-color-field-bg: var(--background); /* background */
	--ds-color-field-checked-bg: var(--on-primary); /* pip */
	--ds-color-field-checked-fg: var(--primary); /* checked background and border */

	--ds-color-field-outline-inner: var(--on-background); /* Hovered shadow ring */
	--ds-color-field-border-focus: var(--on-background); /* Hovered border */

	&[focused-visible] {
		--ds-color-field-border-focus: var(--primary);
		--ds-color-field-outline-outer: var(--on-background); /* Focused outer ring */
		--ds-color-field-outline-inner: transparent; /* Focused inner ring */
	}
}
