/*
 * DS-Radio
 */
.ds-radio {
	--ds-color-field-label-fg: var(--on-background); /* label */
	--ds-color-border-default: var(--on-background); /* default border */
	--ds-color-bg-primary-emphasis: var(--on-background); /* selected border and fill */
	--ds-color-fg-primary-subtle: var(--background); /* pip */

	&:has(label:hover, input:hover) {
		--ds-color-border-primary-emphasis: var(--background);/* selected border and fill */
		--ds-color-fg-primary-subtle: var(--on-background); /* pip */
		--ds-color-bg-primary-soft: var(--on-background); /* Hover ring */
	}

	&:has(input:focus-visible) {
		--ds-color-border-primary-emphasis: var(--on-background);/* selected border and fill and outline */
		--ds-color-fg-primary-subtle: var(--background); /* pip */
		--ds-color-bg-primary-soft: var(--background); /* Inner carve out of the outline */
	}
}
