[guielement="collapsible_panel_container"] {
	[guielement="tree_node_line"] {
		--text-color: var(--on-surface);
		--filter: var(--on-surface-filter);

		:is([mstyles~="tree_top_level"], [mstyles~="tree_sub_level"]) {
			&[mtype="label"] {
				color: var(--text-color) !important;
			}
			&[guielement="icon"]:not([handle="tree_expand_image"]) {
				filter: var(--filter);
			}
		}

		&[mstyles~="selected"], [mstyles~="selected"] {
			--text-color: var(--surface);
			--filter: var(--surface-filter);
			background-color: var(--on-surface);
		}
	}
}

[mtype="group"]:has(> [guielement="richtextlabel"] > a[href="/services/action-v1/overview.html"]) {
	[guielement="icon"] {
		filter: var(--on-background-filter);
	}

	a[href="/services/action-v1/overview.html"] {
		color: var(--on-background) !important;

		&:hover, &:focus-visible {
			color: var(--primary) !important;
		}
	}
}

[mtype="group"]:has(> [handle="tas.reference.actions"]) {
	border-color: var(--surface) !important;
}