/**
 * Various random things specific to certain cards
 */

/*
 * Partial card info block (Partail Incident, Change Activity)
 */
[guielement='mg-infoblock-content'] {
	background: var(--surface);
	--text-color: var(--on-surface);
}

[guielement='mg-infoblock-content'] img[guielement='icon']:first-of-type {
	filter: var(--on-surface-filter);
}

/*
 * Change breadcrumb
 */
[guielement='change_phase_breadcrumb'] {
	background: var(--surface);
	--text-color: var(--on-surface);
}

[guielement='change_phase_breadcrumb'] > [mtype='label'] {
	color: var(--text-color) !important;
}

/*
 * Checklist
 */
div#checklist {
	background: var(--background);

	--text-color: var(--on-background);

	color: var(--text-color);
}

div#checklist .explanation-text,
div#checklist .checked-amount,
div#checklist .the-text {
	color: var(--text-color);
}

div#checklist .subtask-header .actions [role='button'] .icon.details,
div#checklist .subtask-header .actions button.date-button,
div#checklist .subtask-header .actions button.menu-button,
div#checklist .subtask-header .operator-and-date button {
	color: var(--text-color);
}

div#checklist .subtask-header .actions [role='button']:hover .icon.details,
div#checklist .subtask-header .actions [role='button']:focus .icon.details,
div#checklist .subtask-header .actions [role='button'] .icon.details.currently-edited,
div#checklist .subtask-header .actions button.date-button:hover,
div#checklist .subtask-header .actions button.menu-button:hover,
div#checklist .subtask-header .actions button.menu-button:focus,
div#checklist .subtask-header .actions button.date-button:focus,
div#checklist .subtask-header .actions button.date-button.currently-edited,
div#checklist .subtask-header .operator-and-date button:hover,
div#checklist .subtask-header .operator-and-date button:focus {
	color: var(--primary) !important;
}

div#checklist .subtask-header.hover,
div#checklist .subtask-header.hover .actions.hover {
	background: var(--on-background) !important;
	--text-color: var(--background);
}

/* Context menu, Confirm, and Cancel buttons*/
div#checklist [role='button'] .icon.circle,
div#checklist button.menu-button .border,
div#checklist .modal-card.popup .close {
	color: var(--text-color);
	border-color: var(--text-color);
}

div#checklist [role='button'][aria-disabled='true'] .icon.circle {
	--text-color: var(--disabled);
	background: none;
}

div#checklist [role='button']:hover .icon.circle,
div#checklist [role='button']:focus .icon.circle,
div#checklist button.menu-button:hover .border,
div#checklist button.menu-button:focus .border,
div#checklist .modal-card.popup .close:hover,
div#checklist .modal-card.popup .close:focus {
	background: var(--primary);
	color: var(--on-primary);
	border-color: var(--primary);
}

/* Checkboxes */
div#checklist .check-container .check {
	background: var(--background);
	color: var(--on-background);
}

/* Template select */
div#checklist ul#templateList li.template-entry.selected {
	background: var(--selection);
	color: var(--on-selection);
}

div#checklist ul#templateList li.template-entry:hover {
	background: var(--primary);
	color: var(--on-primary);
}

/* Modal popup */
div#checklist .modal-card.popup .modal-card-head,
div#checklist .modal-card.popup .modal-card-body,
div#checklist .modal-card.popup .modal-card-foot {
	background: var(--surface);
	--text-color: var(--on-surface);
}
div#checklist .modal-card.popup .modal-card-title {
	color: var(--on-surface);
}

/* Assign operator dialog & Date picker dialog*/
div#checklist [role='dialog'],
div#checklist .date-picker-popup,
div#checklist .date-picker-popup .date-picker-footer {
	background: var(--surface);
	--text-color: var(--on-surface);
	color: var(--text-color);
}

div#checklist [role='dialog'] li {
	color: var(--on-surface);
}

div#checklist [role='dialog'] li[role='option']:hover {
	background: var(--on-surface);
	color: var(--surface);
}

div#checklist [role='dialog'] button.change-assignee-popover-action-button,
div#checklist .date-picker-popup .td-reset-date button,
div#checklist .date-picker-popup button.td-date-time-input-go-to-today {
	background: none;
	color: var(--primary);
}
div#checklist [role='dialog'] button.change-assignee-popover-action-button:hover,
div#checklist [role='dialog'] button.change-assignee-popover-action-button:focus,
div#checklist .date-picker-popup .td-reset-date button:hover,
div#checklist .date-picker-popup .td-reset-date button:focus,
div#checklist .date-picker-popup button.td-date-time-input-go-to-today:hover,
div#checklist .date-picker-popup button.td-date-time-input-go-to-today:focus {
	color: var(--primary-muted) !important;
}
div#checklist [role='dialog'] button.change-assignee-popover-action-button:active,
div#checklist .date-picker-popup .td-reset-date button:active,
div#checklist .date-picker-popup button.td-date-time-input-go-to-today:active {
	background: var(--primary);
	color: var(--on-primary) !important;
}

div#checklist .td-date-picker-container {
	background: var(--background);
}

div#checklist .help.is-danger {
	color: var(--error);
}

div#checklist .td-date-picker {
	color: var(--on-background);
}

div#checklist .td-date-picker-controls-container .td-date-picker-controls-current-date {
	color: var(--on-background);
}

div#checklist .td-date-picker .td-date-picker-header-cell {
	background: var(--background);
	color: var(--on-background);
}

div#checklist .td-date-picker .td-date-picker-cell .td-date-picker-cell-content.selectable {
	color: var(--on-background);
}

div#checklist .td-date-picker .td-date-picker-cell .td-date-picker-cell-content.weekend {
	background-color: var(--disabled);
}

div#checklist .td-date-picker .td-date-picker-cell .td-date-picker-cell-content:not(.currentMonth) {
	color: var(--on-disabled);
}

div#checklist .td-date-picker .td-date-picker-cell .td-date-picker-cell-content.today {
	border: 1px solid var(--primary-muted) !important;
}

div#checklist .td-date-picker .td-date-picker-cell .td-date-picker-cell-content.focused {
	border: 2px solid var(--primary) !important;
}

div#checklist .td-date-picker .td-date-picker-cell .td-date-picker-cell-content.selected {
	background-color: var(--primary) !important;
	color: var(--on-primary) !important;
}

div#checklist .td-date-picker .td-date-picker-cell .td-date-picker-cell-content:hover.selectable {
	background-color: var(--primary-muted);
	color: var(--on-primary);
}

div#checklist .date-and-time .control input + .icon {
	color: var(--on-background);
}

div#checklist .date-and-time .control input:focus {
	border-color: var(--on-background);
	box-shadow: none;
}

div#checklist .date-and-time .control input:focus + .icon {
	z-index: 1000;
}

div#checklist .date-and-time .control input[aria-invalid='true'] {
	background: var(--background);
	color: var(--error);
	border-color: var(--error);
}

div#checklist .date-and-time .control input[aria-invalid='true'] + .icon {
	color: var(--error);
}
