body {
    background: var(--background);
}

.notification.is-warning {
    background: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.notification.is-warning .icon {
    color: var(--primary);
}