/*
* Configuration management
*/
html,
body {
	background: var(--background);
}
::selection {
	background: var(--selection);
	color: var(--on-selection);
}

div#header div.title {
	color: var(--on-background);
}

/* Tabs and subtabs */
.tabtextcontainer,
td.subtabscolumn a {
	color: var(--on-background);
	border-bottom-color: var(--on-background);
}
.active .tabtextcontainer,
td.subtabscolumn a.active {
	color: var(--primary);
	border-bottom-color: var(--primary) !important;
}
.tabtextcontainer.invalidTab {
	color: var(--error);
}

.tabscroll img {
	filter: var(--on-background-filter);
}

/* Toolbar */
.button_bar .button {
	background-color: var(--bg-color) !important;
	color: var(--text-color) !important;
	border-color: var(--border-color) !important;
}
.button_bar .button:only-child {
	border-right-color: var(--border-color) !important;
}
.button_bar .button .icon {
	filter: var(--filter);
}

.button_bar .primary .button {
	--bg-color: var(--primary);
	--text-color: var(--on-primary);
	--border-color: var(--primary);
}
.button_bar .primary .button:hover {
	--bg-color: var(--primary-muted);
	--text-color: var(--on-primary);
	--border-color: var(--primary-muted);
}
.button_bar .primary .button:active {
	--bg-color: var(--background);
	--text-color: var(--primary);
	--border-color: var(--primary);
}

.button_bar .button {
	--bg-color: var(--background);
	--text-color: var(--on-background);
	--filter: var(--on-background-filter);
	--border-color: var(--on-background);
}
.button_bar .button:hover {
	--bg-color: var(--on-background);
	--text-color: var(--background);
	--filter: var(--background-filter);
	--border-color: var(--on-background);
}
.button_bar .button:active {
	--bg-color: var(--surface);
	--text-color: var(--on-surface);
	--filter: var(--on-surface-filter);
	--border-color: var(--on-surface);
}

/* Menu button */
.button_bar .button.toggled {
	background-color: var(--on-background) !important;
	color: var(--background) !important;
	border-color: var(--on-background) !important;
}
.button_bar .button.toggled:last-child {
	border-right-color: var(--on-background) !important;
}

/* Menu */
.button_bar .text_menu {
	background-color: var(--surface);

	/* Copy of regular box-shadow, regular shadow is grey creating a weird effect on dark backgrounds */
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.121568), 0px 4px 4px rgba(0, 0, 0, 0.239215);
}
.button_bar .text_menu .entry {
	color: var(--on-surface);
}
.button_bar .text_menu .entry:hover {
	background-color: var(--on-surface);
	color: var(--surface);
}

/* Data */
fieldset legend .legend {
	color: var(--on-background);
}

.label,
fieldset table.container span.label,
fieldset table.container span.value,
fieldset table.container .rightCell {
	color: var(--on-background);
}

fieldset table.container span.labelerror span.label {
	color: var(--error);
}

table.borderless tr td fieldset {
	border-bottom-color: var(--on-background);
}

fieldset .arrowdown,
fieldset .calendarimage {
	filter: var(--on-background-filter);
}

fieldset input {
	background-color: var(--background);
}
fieldset .layouthelperpadding.input_error .labelerror input {
	background-color: var(--background) !important;
	border-color: var(--error) !important;
	color: var(--error);
}

/* Checkbox & Radio */
fieldset span:not(#idontexist) input[type='checkbox'],
fieldset span:not(#idontexist) input[type='radio'] {
	position: relative;

	width: 16px;
	aspect-ratio: 1;

	margin-left: -3px;
}
fieldset span:not(#idontexist) input[type='checkbox'] {
	left: 4px;
	top: 1px;
}
fieldset span:not(#idontexist) input[type='radio'] {
	left: 4px;
	top: -4px;
}

fieldset span:not(#idontexist) input[type='checkbox'] + label.checkbox,
fieldset span:not(#idontexist) input[type='radio'] + label.radio {
	background: var(--background) !important;
	border: 1px solid var(--on-background);
	margin-left: -13px !important;

	position: relative;
	pointer-events: none;
}
fieldset span:not(#idontexist) input[type='radio'] + label.radio {
	border-radius: 50%;
	margin-right: 8px; /* creating a little bit of room for the actual radio label */
}
fieldset span:not(#idontexist) input[type='checkbox']:checked + label.checkbox::before {
	/* checkbox checkmark */
	content: '';
	position: absolute;
	border-bottom: 2px solid currentColor;
	border-left: 2px solid currentColor;
	top: 2px;
	left: 2px;
	width: 9px;
	height: 5px;
	transform: rotate(-45deg);
}
fieldset span:not(#idontexist) input[type='radio']:checked + label.radio::before {
	/* radio dot */
	content: '';
	position: absolute;
	border-radius: 50%;
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	background: currentColor;
}

fieldset span:not(#idontexist) input[type='checkbox']:focus-visible + label.checkbox,
fieldset span:not(#idontexist) input[type='radio']:focus-visible + label.radio {
	outline: 2px solid var(--on-background);
	outline-offset: 2px;
}

/* Date picker */
#calendarDiv {
	background-color: var(--surface);
	border-color: var(--surface);
}

#monthSelect,
#yearText {
	background: transparent;
	opacity: 1;
	color: var(--on-surface);
}

#goToToday {
	color: var(--on-surface);
}

#bottomDiv {
	background-color: var(--surface);
	border-color: var(--on-surface);
}
#applyButton {
	background-color: var(--primary);
	color: var(--on-primary);
	border: 1px solid var(--primary);
}
#applyButton:hover {
	background-color: var(--primary-muted);
	border-color: var(--primary-muted);
}
#applyButton:active {
	background-color: var(--background);
	color: var(--primary);
	border-color: var(--primary);
}

#calendarTable th {
	color: var(--on-surface);
}
#calendarTable td {
	background-color: var(--background);
	color: var(--on-background);
	border-color: var(--on-background);
	font-weight: 700;
}
#calendarTable td.othermonth {
	font-weight: 400;
}
#calendarTable td.holiday {
	background-color: var(--surface);
	color: var(--on-surface);
}
#calendarTable td.today {
	color: var(--primary);
	border: 1px solid var(--on-background) !important;
	box-shadow: inset 0 0 0 1px var(--background), inset 0 0 0 3px var(--primary);
}
#calendarTable td.currentselecteddate {
	background-color: var(--primary);
	color: var(--on-primary);
	box-shadow: inset 0 0 0 1px var(--background);
}
#calendarTable td.currentselecteddate.today {
	box-shadow: inset 0 0 0 3px var(--background);
}

/* Object image */
div.mainImage {
	border-color: var(--on-background);
}
div.mainImage > img {
	/* Placeholder image, real image is added with a surrounding anchor */
	filter: var(--on-background-filter);
}

/* Footer */
p.footer {
	color: var(--on-background);
}

/* Audit trail */
input#filtercombokey {
	background-color: var(--background);
	color: var(--on-background);
}
#filtercombokey_img {
	filter: var(--on-background-filter);
}
select.dropdownselect {
	background: var(--background);
	color: var(--on-background);
}
input[type='image']#refresh {
	background-color: transparent;
}

table.auditTrail tr td {
	--bg-color: var(--background);
	--text-color: var(--on-background);
	--border-color: var(--on-background);

	background-color: var(--bg-color) !important;
	border-color: var(--border-color) !important;
}
table.auditTrail tr td .label {
	color: var(--text-color) !important;
}
table.auditTrail tr td.sectionHeader {
	--bg-color: var(--surface);
	--text-color: var(--on-surface);
	--border-color: var(--on-surface);
}
