/*
 * General styles
 */
html,
body {
	background: transparent;
}

/* Generic focus style */
*:focus {
	z-index: 1000 !important;
	outline: 2px solid var(--on-background) !important;
	outline-offset: 2px !important;
}

/* focus fix for combobox dropdown */
input[type='text'][mtype='combobox']:focus {
	z-index: 0 !important;
}

/* Tab bar and Quicklaunch */
[mstyles~='header_bar'],
[handle='quicklaunch_bar_settings_area'],
[handle='quicklaunch_bar_buttons_area'] {
	background: var(--surface);
	--text-color: var(--on-surface);
}

/* Page */
[guielement='toplevelwindow'],
[mstyles='left_side'] {
	background: var(--background);
	--text-color: var(--on-background);
}

body > div[guielement='toplevelwindow'] > div[style*='background-color'] {
	/* Sent emails set background in their style attribute */
	background: transparent !important;
}

/* Text */
[mtype='label'],
[mtype='rtlabel'] {
	/*
	 * --text-color should be adjusted whenever the background changes,
	 * to ensure the contained labels receive the correct color.
	 */
	color: var(--text-color);
}
[mtype='label'][mstyles~='error'],
[mtype='rtlabel'][mstyles~='error'] {
	/*
	 * --text-color should be adjusted whenever the background changes,
	 * to ensure the contained labels receive the correct color.
	 */
	color: var(--error);
}

::selection {
	background: var(--selection);
	color: var(--on-selection);
}

/* Link */
a,
[guielement='hyperlink'],
[mtype='label'][mstyles~='link_label'] {
	color: var(--primary);
}
a:hover,
[guielement='hyperlink']:hover,
[mtype='label'][mstyles~='link_label']:hover {
	color: var(--primary-muted);
}

/* Tooltip */
#infoboxdiv {
	background: var(--surface);
	color: var(--on-surface);
}
/* Bubble tooltips */
[guielement='infobubble-bubble'] {
	background: var(--surface);
}
[guielement='infobubble-tail'][mstyles~='south'] {
	border-top-color: var(--surface);
}
[guielement='infobubble-tail'][mstyles~='east'] {
	border-left-color: var(--surface);
}
[guielement='infobubble-tail'][mstyles~='west'] {
	border-right-color: var(--surface);
}
[guielement='infobubble-tail'][mstyles~='north'] {
	border-bottom-color: var(--surface);
}
[guielement='infobubble-bubble'] [mstyles~='infobubble-message'] {
	color: var(--on-surface);
}

/* Popup */
[guielement='subwindow'] > img:only-child {
	/* The pointer triangle used in some popups */
	filter: var(--on-background-filter);
}

[guielement='popup'] {
	background: var(--surface);
	--text-color: var(--on-surface);
}
[guielement='popup-header'] {
	border-color: var(--on-surface);
}
[guielement='popup-body'] [mstyles~='memo_readonly_area'][mstyles~='popup-body-content'] {
	background: transparent;
	color: var(--text-color);
}
[guielement='popup-body']
	[mstyles~='memo_readonly_area'][mstyles~='popup-body-content']
	[mtype='label']:hover {
	background: var(--primary-muted);
	--text-color: var(--on-primary);
}
[guielement='popup-body']
	[mstyles~='memo_readonly_area'][mstyles~='popup-body-content']
	[mtype='label'][mstyles~='selected'] {
	background: var(--primary);
	--text-color: var(--on-primary);
}
[guielement='popup-footer'] {
	background: var(--surface);
	border-color: var(--on-surface);
}
/* HTML style popup */
body.popup .divpopupcontainer {
	background: var(--surface);
	color: var(--on-surface);
	--text-color: var(--on-surface);
}
body.popup .divpopupcontainer .divpopupheader {
	border-color: var(--on-surface);
}
body.popup .divpopupcontainer .divpopupheader .divpopuptitle {
	color: var(--on-surface);
}
body.popup .divpopupcontainer .divpopupclientarea {
	background: transparent;
}
body.popup .divpopupcontainer .divpopupclientarea .buttons,
body.popup .divpopupcontainer .divpopupclientarea .grid-settings-popup-buttons {
	background: transparent;
	border-color: var(--on-surface);
}

/* stamp popup */
body.popup .divpopupcontainer .fields .button[onclick^='MacroPopup'] {
	background: var(--background);
	color: var(--on-background);
	border-color: var(--on-background);
}
body.popup .divpopupcontainer .fields .button[onclick^='MacroPopup']:hover {
	background: var(--on-background);
	color: var(--background);
	border-color: var(--on-background);
}
body.popup .divpopupcontainer .fields .button.disabledButton {
	background: var(--disabled);
	color: var(--on-disabled);
}

/*
 * Datepicker
 */
[guielement='calendar-grid'] {
	/* background color creates the cell borders */
	background: var(--on-background);
}
/* day cell */
[guielement='calendar-grid'] [guielement='calendar-cell'] {
	background: var(--background);
	--text-color: var(--on-background);
}
[guielement='calendar-grid'] [guielement='calendar-cell'] [guielement='calendar-cell-label'] {
	color: var(--text-color);
}
/* non-working day cell */
[guielement='calendar-grid'] [guielement='calendar-cell'][mstyles~='cal-non-working-day'] {
	background: var(--surface);
	--text-color: var(--on-surface);
}
/* Special style for 'today' to aid orientation */
[guielement='calendar-grid'] [guielement='calendar-cell'][mstyles~='cal-today'] {
	--text-color: var(--primary);
	border-color: transparent;
}
/* currently selected cell */
[guielement='calendar-grid'] [guielement='calendar-cell'][mstyles~='cal-selected'] {
	background: var(--primary-muted);
	--text-color: var(--on-primary);
}
/* 'focused' cell */
[guielement='calendar-grid'] [guielement='calendar-cell'][mstyles~='cal-highlighted'] {
	border-color: var(--primary);
}
[guielement='calendar-grid']
	[guielement='calendar-cell'][mstyles~='cal-selected'][mstyles~='cal-highlighted'] {
	background: var(--primary-muted);
	--text-color: var(--on-primary);
	border-color: var(--on-primary);
}
/* 'go to today' button */
[guielement='datepicker-today'] {
	background: transparent;
	color: var(--primary);
}
[guielement='datepicker-today']:hover {
	background: var(--on-surface);
	color: var(--surface);
}

/* Loading screen */
[guielement='toplevelwindow'] > [mstyles~='content_area'] {
	background-color: var(--background);
}

body[style*='background-color: #ffffff'] {
	background-color: var(--background) !important;
}

#busy_message_area {
	background-color: var(--surface);
	padding: 36px;
}
#busy_message_area > #busy_message_image {
	display: none !important;
}
#busy_message_area > #busymessage {
	color: var(--on-surface);
}

#busy_message_area::before {
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto 12px;
	border-radius: 50%;

	background: radial-gradient(
		circle at center,
		transparent 0%,
		transparent 58%,
		var(--on-surface) 60%
	);

	animation-name: pulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-delay: 0.2s;
}

#busy_message_area::after {
	content: '';
	display: block;
	width: 46px;
	height: 46px;
	margin: -80px auto 24px;
	border-radius: 50%;

	background: radial-gradient(
		circle at center,
		transparent 0%,
		transparent 55%,
		var(--on-surface) 57%
	);

	animation-name: pulse;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-delay: -1.5s;
}

@keyframes pulse {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.2;
	}
}

@media (prefers-reduced-motion: no-preference) {
	#busy_message_area::before {
		background: radial-gradient(
				circle at center,
				var(--surface) 0%,
				var(--surface) 58%,
				transparent 60%
			),
			conic-gradient(
				transparent 22.5deg,
				var(--on-surface) 22.8deg,
				var(--on-surface) 337.2deg,
				transparent 337.5deg
			);

		animation-name: spin-large;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		animation-direction: normal;
		animation-delay: 0s;
	}

	#busy_message_area::after {
		background: radial-gradient(
				circle at center,
				var(--surface) 0%,
				var(--surface) 55%,
				transparent 57%
			),
			conic-gradient(
				transparent 22.5deg,
				var(--on-surface) 22.8deg,
				var(--on-surface) 337.2deg,
				transparent 337.5deg
			);

		animation-name: spin-small;
		animation-duration: 3.5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		animation-direction: normal;
		animation-delay: -0.5s;
	}

	@keyframes spin-large {
		from {
			rotate: 0deg;
		}
		to {
			rotate: 720deg;
		}
	}

	@keyframes spin-small {
		from {
			rotate: 0deg;
		}
		to {
			rotate: 1440deg;
		}
	}
}
