body.cke_editable,
body.cke_editable * {
  background: var(--background) !important;
  color: var(--on-background) !important;
}
body.cke_editable a {
  color: var(--primary) !important;
}
body.cke_editable::selection,
body.cke_editable *::selection {
  background: var(--selection);
  color: var(--on-selection);
}