.ds-menu {
	--ds-color-bg-default: var(--surface);

	.ds-menu-invoker {
		--text-color: var(--on-background);

		/* focus colors */
		--ds-color-field-outline-inner: transparent; /* box-shadow color */
		--ds-color-field-outline-outer: var(--outline-color); /* border and outline */

		background-color: var(--background);
		color: var(--text-color);
		border-color: var(--on-background);

		--ds-color-field-icon-fg: var(--text-color);

		&:hover {
			--text-color: var(--background);
			background-color: var(--on-background);
			border-color: var(--on-background);
		}

		&[aria-expanded='true'] {
			box-shadow: none;
			outline: none;

			--text-color: var(--background);
			background-color: var(--on-background);
			border-color: var(--on-background);
		}

		&:focus-visible {
			--ds-color-bg-primary-soft: transparent;
			--ds-color-border-primary-emphasis: var(--on-background);
		}
	}

	.ds-menu-item {
		color: var(--on-surface);

		&[tabindex='0'] {
			background-color: var(--background);
			color: var(--on-background);
			border-color: var(--primary);
		}
	}
}


.toc-container {
	--ds-color-fg-default: var(--on-surface);

	a.current {
		background: var(--background);
		color: var(--on-background);
		border-left-color: var(--primary);
	}

	a:hover {
		background: var(--background);
		color: var(--primary);
	}
}

.ds-link-item {
	--_ds-list-item-name-color: var(--on-surface);
	--_ds-list-item-description-color: var(--on-surface);
	--_ds-list-item-icon-color: var(--on-surface);

	&:hover {
		background-color: var(--background);

		--_ds-list-item-name-color: var(--on-background);
		--_ds-list-item-description-color: var(--on-background);
		--_ds-list-item-icon-color: var(--on-background);
	}
}

.ds-form {
	--ds-color-field-label-fg: var(--on-surface);
}

.ds-textarea {
	--ds-color-field-bg: var(--background); /* field background */
	--ds-color-field-border: var(--on-background); /* field border */
	--ds-color-field-fg: var(--on-background); /* field foreground */

	/* focus colors */
	--ds-color-field-outline-inner: transparent; /* box-shadow color */
	--ds-color-field-outline-outer: var(--outline-color); /* border and outline */
}
