.modal-pagination[role="navigation"] {
	background-color: transparent;
}

.section {
	&.section-selected {
		background-color: transparent;
		outline-color: transparent;
	}

	& a {
		color: var(--primary);
		text-decoration-color: var(--primary);

		&:focus-visible {
			--ds-link-focus-bg-color: var(--primary);
			color: var(--on-primary);
			text-decoration-color: var(--on-primary);
		}
	}
}

.ds-menu-invoker {
	background-color: var(--background);
	color: var(--on-background);
	--ds-color-field-icon-fg: var(--on-background); /* Chevron icon */
	--ds-color-border-default: var(--on-background); /* border default */
	--ds-color-border-primary-emphasis: var(--on-background); /* border hover & focus */

	--ds-color-field-outline-inner: var(--on-background); /* Expanded inner and outer rings */
	--ds-color-field-outline-outer: var(--surface); /* Expanded middle ring */

	&:hover {
		background-color: var(--on-background);
		color: var(--background);
		--ds-color-field-icon-fg: var(--background);
	}
}

.ds-menu-item:is(:hover, :focus) {
	background-color: var(--background);
	color: var(--on-background);
	border-left-color: var(--primary);
}

.ds-notification[variant="success"] {
	border-color: var(--primary);
	background-color: var(--background);
	color: var(--on-background);

	--ds-color-fg-success-emphasis: var(--on-background); /* Close button */
	--ds-color-bg-success-soft: transparent; /* Close button hover box-shadow */
	--ds-color-border-success-emphasis: var(--on-background); /* Close button hover and focus rings */
}
