.bulk-edit-page {
	background-color: var(--background);
	color: var(--on-background);

	--outline-color: var(--on-background);
}
.page-header {
	--ds-color-bg-primary-default: var(--background);

	& .title {
		color: var(--on-background);
	}
}

/*
 * Asset list
 */
.bulk-edit__asset-list__container {
	& .ds-list {
		color: var(--on-background);
	}
	& .asset_item-name {
		color: var(--primary);
	}
}
